<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">

    <div class="container col-12">
        <div class="row col-12">
            <form class="form-inline md-form form-sm col-12 " [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <input class="form-control form-control-sm mr-3 w-75 col-11" formControlName="search" type="text" placeholder="Search" aria-label="Search"
                mdbInput>
                <mdb-icon  *ngIf="loading == false"   fas icon="search" aria-hidden="false"></mdb-icon>
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</nav>
