<div class="wrapper">
    <div class="page-header section-dark" [routerLink]="['/movie', id]"  [ngStyle]="{'background-image': 'url('+baseImagePath+image+')'}">
        
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        
                        <h1 class="presentation-title">{{title}}</h1>
                        <h1 class="presentation-subtitle">Más Popular de la Semana</h1>
                        <ngb-progressbar type="success" [value]="voteAverage*10">{{voteAverage}}</ngb-progressbar><br>
                        
                    </div>
                </div>
            </div>
    </div>
    <div class="main">
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3>Películas Más Populares</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template *ngFor="let movie of movies" ngbSlide>
                                    <div class="carousel-caption">
                                        <p>{{movie.title}}</p>
                                    </div>
                                    <img [routerLink]="['/movie', movie.id]" [src]="baseImagePath+movie.backdrop_path" alt="movie.title">
                                </ng-template>
                            </ngb-carousel>                        
                        </div>
                    </div>
                </div>
                <div class="tim-title">
                    <h3>Series Más Populares</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template *ngFor="let serie of series" ngbSlide>
                                    <div class="carousel-caption">
                                        <p>{{serie.name}}</p>
                                    </div>
                                    <img [src]="baseImagePath+serie.backdrop_path" alt="serie.title">
                                </ng-template>
                            </ngb-carousel>                        
                        </div>
                    </div>
                </div>

                <div class="tim-title">
                    <h3>Películas Más Aclamadas</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template *ngFor="let movie of movies4" ngbSlide>
                                    <div class="carousel-caption">
                                        <p>{{movie.title}}</p>
                                    </div>
                                    <img [src]="baseImagePath+movie.backdrop_path" alt="movie.title">
                                </ng-template>
                            </ngb-carousel>                        
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        
                            <div class="francisco">
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img class="sizeImage mx-2" src="../../../assets/img/daniel-olahh.jpg" alt="">
                                </div>


                            </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>