<div class="page-header" data-parallax="true" [ngStyle]="{'background-image': 'url('+baseImagePath+image+')'}">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="francisco col-4 my-5">
                <div class="slide">
                    <img class="img-thumbnail img-responsive" [src]="baseImagePath+poster" alt="">
                </div>
            </div>
            <!-- <img class="sizeImage" [src]="baseImagePath+poster" alt="" > -->
            <div class="motto text-center col-8 my-5">
                <h1>{{title}}</h1>
                <h3>{{tagline}}</h3>
                <h4>{{vote_average}}/10 ranked</h4>
                <div >
                        <button type="button" class="btn btn-outline-neutral btn-round">{{genre}}</button>                </div>
                <h5>{{description}}</h5>
                <br />
                <button type="button" (click)="favorite()" class="btn btn-danger btn-just-icon" placement="bottom" ngbTooltip="Add to my Favorite's List"><i class="fa fa-heart"></i></button>
                <button type="button" [routerLink]="['/home']" class="btn btn-outline-neutral btn-round">Return Home</button>
            </div>
        </div>
    </div>
</div>