.francisco {
    width: 280px;
    height: auto;  
    overflow: visible;
    white-space:nowrap;
}

.francisco .slide {
    display: inline-block;
}

.sizeImage{
    width: 280px;
    height: auto;
}